body{
  background-color: #0097a7;
}

.Landing {
    text-align:center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
.infoSection > .row{
  padding-top: 3%;
  padding-bottom: 3%;
}

.rfooter{
  text-align:center;
}